.git
.claude
build/
report/
dist/
*.tar.gz
src/brickgame
src/test_snake
src/test_common
src/test_tetris
src/gcov_test
src/testing
src/main
src/tetris
src/snake
src/*.o
src/*.gcda
src/*.gcno
src/*.gcov
src/*.info
